
{% extends 'account/layout.html' %}

{% block main %}

        <!-- Sing in  Form -->
        <section class="sign-in">
            <div class="container">
                <div class="signin-content">
                    <div class="signin-image">
                        <figure><img src="{{ url_for('static', filename="account/images/signin-image.jpg") }}" alt="sing up image"></figure>
                        <a href="#" class="signup-image-link">Create an account</a>
                    </div>

                    <div class="signin-form">
                        <h2 class="form-title">Sign up</h2>
                        <form method="POST" class="register-form" id="login-form">
                            <div class="form-group">
                                {{ form.email.label() }}
                                {{ form.email(placeholder="Your Email") }}
                            </div>
                            <div>
                                {% if form.email.errors %}
                                    {% for error in form.email.errors %}
                                        <small style="color:red" class="text-danger">{{ error }}</small>
                                    {% endfor %}

                                {% endif %}
                            </div>
                            <div class="form-group">
                                {{ form.password.label() }}
                                {{ form.password(placeholder="Password")}}
                            </div>
                            <div>
                                {% if form.password.errors %}
                                    {% for error in form.password.errors %}
                                        <small style="color:red" class="text-danger">{{ error }}</small>
                                    {% endfor %}
                                {% endif %}
                            </div>
                            <div class="form-group form-button">
                                {{ form.submit(class="form-submit") }}
                            </div>
                        </form>
                        <div class="social-login">
                            <span class="social-label">Or login with</span>
                            <ul class="socials">
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-facebook"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-twitter"></i></a></li>
                                <li><a href="#"><i class="display-flex-center zmdi zmdi-google"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}
