{% extends 'account/layout.html' %}

{% block main %}
    <div class="col-md-8">
      <div class="mb-4">
      <h3>Reset Password</h3>
      </div>
    </div>
    <form action="" method="post">
      {{ form.hidden_tag() }}
      <div class="form-group">
        {{ form.email.label() }}
        {{ form.email(class="form-control") }}
        {% if form.email.errors %}
                {% for error in form.email.errors %}
                    <small style="color:red" class="text-danger">{{ error }}</small>
                {% endfor %}
        {% endif %}
      </div>
     {{ form.submit(class="btn btn-block btn-primary") }}
      <span class="d-block text-left my-4 text-muted">&mdash; or login with &mdash;</span>

      <div class="social-login">
        <a href="#" class="google">
          <span class="icon-google mr-3"></span>
        </a>
      </div>
    </form>
{% endblock %}
