{% extends 'account/layout.html' %}

{% block main %}
    <form action="" method="post">
        <div class="col-md-8">
              <div class="mb-4">
               <h3>Sign Up</h3>
              </div>
        </div>
        {{ form.hidden_tag() }}
        <div class="form-group">
            {{ form.password.label() }}
            {{ form.password(class="form-control")}}
            {% if form.password.errors %}
                {% for error in form.password.errors %}
                    <small style="color:red" class="text-danger">{{ error }}</small>
                {% endfor %}
            {% endif %}
        </div>
        <div class="form-group last mb-4">
            {{ form.confirm_password.label() }}
            {{ form.confirm_password(class="form-control") }}
            {% if form.confirm_password.errors %}
                {% for error in form.confirm_password.errors %}
                    <small style="color:red" class="text-danger">{{ error }}</small>
                {% endfor %}
            {% endif %}
        </div>

        {{ form.submit(class="btn btn-block btn-primary") }}
        <a class="d-block text-left my-4 text-muted" href="{{ url_for('login') }}"><small>already have an account!</small></a>

    </form>
{% endblock %}
