[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-wtf = "*"
email-validator = "*"
flask-mongoengine = "*"
wheel = "*"
flask-bcrypt = "*"
flask-login = "*"
flask-mail = "*"
python-dotenv = "*"
authlib = "*"
pillow = "*"
flask-mdeditor = "*"
flask-markdown = "*"

[dev-packages]
pre-commit = "*"
black = "*"
flask-debugtoolbar = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
