{% extends 'account/adminlte/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <div class="row">
          <div class="col-12">
          <div class="mx-4">
            {% with  messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
          </div>
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th>title</th>
{#                        <th>دسته بندی</th>#}
                        <th>summery</th>
                        <th>author</th>
                        <th>publish date</th>
{#                        <th>وضعیت</th>#}
                    </tr>
                  </thead>
                  <tbody>
                  {% for post in posts %}
                      <tr>
                          <td>{{ post.title }}</td>
                          <td>summery</td>
                          <td>{{ post.author.username }}</td>
                          <td>{{ post.date_posted }}</td>
{#                          <td><img src="{{ article.thumbnail.url }}" width="120"></td>#}
{#                          <td>{{ article.category_to_str }}</td>#}
{#                          <td>{{ article.author.get_full_name }}</td>#}
{#                          <td>{{ article.description| striptags | truncatewords:"20" }}</td>#}
{#                          <td>{{ article.jpublish }}</td>#}
{#                          <td>#}
{#                              {% if article.status == "p" %}#}
{#                                  <span class="badge badge-success">منتشر شده</span>#}
{#                                  <a target="_blank" class="badge badge-primary" href="{% url "blog:detail" article.slug %}">نمایش مقاله در سایت</a>#}
{#                              {% else %}#}
{#                                  <span class="badge badge-danger">پیش نویس</span>#}
{#                              {% endif %}#}
{#                          </td>#}
                            <td>
                                <a target="_blank" class="badge badge-primary" href="{{ url_for('update_post', slug=post.slug) }}">Edit</a>
                                <a target="_blank" class="badge badge-danger" href="{{ url_for('delete_post', slug=post.slug) }}">Delete</a>
                            </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
