{% extends 'account/adminlte/base.html' %}
{% block title %}{{ title }}{% endblock %}
{% block main %}
    <div class="row">
          <div class="col-12">
          <div class="mx-4">
            {% with  messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    {% for category, message in messages %}
                        <div class="alert alert-{{ category }}">
                        {{ message }}
                        </div>
                    {% endfor %}
                {% endif %}
            {% endwith %}
          </div>
            <div class="card">
              <!-- /.card-header -->
              <div class="card-body table-responsive p-0">
                <table class="table table-hover">
                  <thead>
                    <tr>
                        <th>title</th>
                        <th>summery</th>
                        <th>author</th>
                        <th>publish date</th>
                    </tr>
                  </thead>
                  <tbody>
                  {% for post in posts %}
                      <tr>
                          <td>{{ post.title }}</td>
                          <td>{{ post.content|markdown|truncate(20)|safe }}</td>
                          <td>{{ post.author.username }}</td>
                          <td>{{ post.date_posted }}</td>
                            <td>
                                <a target="_blank" class="badge badge-success" href="{{ url_for('post_detail', slug=post.slug) }}">View in Blog</a>
                                <a class="badge badge-primary" href="{{ url_for('update_post', slug=post.slug) }}">Edit</a>
                                <a class="badge badge-danger" href="{{ url_for('delete_post', slug=post.slug) }}">Delete</a>
                            </td>
                    </tr>
                  {% endfor %}
                  </tbody>
                </table>
              </div>
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
{% endblock %}
